.track-progress {
  // TODO move to directive
  position: relative;
  border: 1px solid black;
  border-radius: 6px;
  height: 60px;
  width: 300px;
  .progress {
    position: absolute;
    background-color: tomato;
    width: 0%;
    height: 100%;
  }
}
