<div>
  <nav class="nav-group">
    <h5 class="nav-group-title">Favorites</h5>
    <span class="nav-group-item active">
      <span class="fa fa-home"></span>
      Home
    </span>
    <span class="nav-group-item">
      <span class="fa fa-bars"></span>
      Playlists
    </span>
    <span class="nav-group-item">
      <span class="fa fa-play"></span>
      Current
    </span>
    <span class="nav-group-item">
      <span class="fa fa-desktop"></span>
      Applications
    </span>
    <span class="nav-group-item">
      <span class="fa fa-wifi"></span>
      AirDrop
    </span>
    <span class="nav-group-item">
      <span class="fa fa-laptop"></span>
      Desktop
    </span>
  </nav>

  <nav class="nav-group">
    <h5 class="nav-group-title">Radio</h5>
    <span class="nav-group-item" href="#">
      <span class="fa fa-circle" style="color:#57acf5"></span>
      Best of Jamendo
    </span>
    <span class="nav-group-item" href="#">
      <span class="fa fa-circle" style="color:#57acf5"></span>
      Pop
    </span>
    <span class="nav-group-item" href="#">
      <span class="fa fa-circle" style="color:#57acf5"></span>
      Rock
    </span>
    <span class="nav-group-item" href="#">
      <span class="fa fa-circle" style="color:#57acf5"></span>
      Electronic
    </span>
    <span class="nav-group-item" href="#">
      <span class="fa fa-circle" style="color:#57acf5"></span>
      Hip Hip
    </span>
    <span class="nav-group-item" href="#">
      <span class="fa fa-circle" style="color:#57acf5"></span>
      Indie
    </span>
    <span class="nav-group-item" href="#">
      <span class="fa fa-circle" style="color:#57acf5"></span>
      Jazz
    </span>
    <span class="nav-group-item" href="#">
      <span class="fa fa-circle" style="color:#57acf5"></span>
      Classical
    </span>
    <span class="nav-group-item" href="#">
      <span class="fa fa-circle" style="color:#57acf5"></span>
      Folk
    </span>
    <span class="nav-group-item" href="#">
      <span class="fa fa-circle" style="color:#57acf5"></span>
      Lounge
    </span>
    <span class="nav-group-item" href="#">
      <span class="fa fa-circle" style="color:#57acf5"></span>
      Contry
    </span>
    <span class="nav-group-item" href="#">
      <span class="fa fa-circle" style="color:#57acf5"></span>
      Relax
    </span>
    <span class="nav-group-item" href="#">
      <span class="fa fa-circle" style="color:#57acf5"></span>
      Metal
    </span>
  </nav>
</div>
