<div>
  <nav class="nav-group">
    <h5 class="nav-group-title">Favorites</h5>
    <a ui-sref="home" ui-sref-active="active" class="nav-group-item">
      <span class="fa fa-home"></span>
      Home
    </a>
    <a ui-sref="artists" ui-sref-active="active" class="nav-group-item">
      <span class="fa fa-user"></span>
      Artists
    </a>
    <a ui-sref="playlists" ui-sref-active="active" class="nav-group-item">
      <span class="fa fa-bars"></span>
      Playlists
    </a>
    <a ui-sref="tracks" ui-sref-active="active" class="nav-group-item">
      <span class="fa fa-music"></span>
      Tracks
    </a>
    <a ui-sref="radios" ui-sref-active="active" class="nav-group-item">
      <span class="fa fa-wifi"></span>
      Radios
    </a>
    <a ui-sref="player({'trackId': $root.trackId})" ui-sref-active="active" class="nav-group-item">
      <span class="fa fa-play"></span>
      Current
    </a>
  </nav>
  <nav class="nav-group" ng-if="$root.p">
    <h5 class="nav-group-title">Now playing</h5>
    <div class="nav-group-item">
      <i class="fa fa-user"></i>&nbsp;<small>{{$root.trackInfo.artist_name}}</small>
    </div>
    <div class="nav-group-item">
      <i class="fa fa-music"></i>&nbsp;<small>{{$root.trackInfo.album_name}}</small>
    </div>
    <div class="nav-group-item">
      <i class="fa fa-calendar-o"></i>&nbsp;<small>{{$root.trackInfo.releasedate}}</small>
    </div>
    <div class="nav-group-item">
      <i class="fa fa-play-circle"></i>&nbsp;<small>{{$root.trackInfo.name}}</small>
    </div>
    <span class="nav-group-item">
      <player class="small"></player>
    </span>
  </nav>

  <!--<nav class="nav-group">
    <h5 class="nav-group-title">Radio</h5>
    <span class="nav-group-item" href="#">
      <span class="fa fa-circle" style="color:#57acf5"></span>
      Best of Jamendo
    </span>
    <span class="nav-group-item" href="#">
      <span class="fa fa-circle" style="color:#57acf5"></span>
      Pop
    </span>
    <span class="nav-group-item" href="#">
      <span class="fa fa-circle" style="color:#57acf5"></span>
      Rock
    </span>
    <span class="nav-group-item" href="#">
      <span class="fa fa-circle" style="color:#57acf5"></span>
      Electronic
    </span>
    <span class="nav-group-item" href="#">
      <span class="fa fa-circle" style="color:#57acf5"></span>
      Hip Hip
    </span>
    <span class="nav-group-item" href="#">
      <span class="fa fa-circle" style="color:#57acf5"></span>
      Indie
    </span>
    <span class="nav-group-item" href="#">
      <span class="fa fa-circle" style="color:#57acf5"></span>
      Jazz
    </span>
    <span class="nav-group-item" href="#">
      <span class="fa fa-circle" style="color:#57acf5"></span>
      Classical
    </span>
    <span class="nav-group-item" href="#">
      <span class="fa fa-circle" style="color:#57acf5"></span>
      Folk
    </span>
    <span class="nav-group-item" href="#">
      <span class="fa fa-circle" style="color:#57acf5"></span>
      Lounge
    </span>
    <span class="nav-group-item" href="#">
      <span class="fa fa-circle" style="color:#57acf5"></span>
      Contry
    </span>
    <span class="nav-group-item" href="#">
      <span class="fa fa-circle" style="color:#57acf5"></span>
      Relax
    </span>
    <span class="nav-group-item" href="#">
      <span class="fa fa-circle" style="color:#57acf5"></span>
      Metal
    </span>
  </nav>-->
</div>
