<div style="width: 100%">
  <div class="search">
    <form class="form-group" ng-submit="artists.searchArtists()">
      <input class="form-control" placeholder="Artist name" ng-model="artists.name">
      <button class="btn btn-default">Search artists</button>
    </form>
  </div>
  <div class="tiles">
    <div loader loading="artists.artistsLoading"></div>
    <a
      class="tile tile-green"
      ng-repeat="artist in artists.artists"
      ui-sref="artist({'id': artist.id})"
      style="background-image: url('{{artist.image}}');">
      <h2 class="tile-title full">
        <span>
          <div>
            <i class="fa fa-user"></i>&nbsp;<small>{{artist.name}}</small>
          </div>
        </span>
      </h2>
    </a>
  </div>
</div>
