<div class="tiles">
  <div loader loading="artist.artistLoading"></div>
  <div
    class="tile tile-blue"
    style="background-image: url('{{artist.info.image}}');">
    <h2 class="tile-title full">
      <span>
        {{artist.info.name}}
      </span>
    </h2>
  </div>
  <div
    class="tile tile-red relative"
    ng-repeat="(i,track) in artist.tracks"
    style="background-color: {{artist.colors[i % artist.colors.length]}};">
    <button class="btn btn-default add-to-playlist" ng-click="$root.addToPlaylist(track)">
      <i class="fa fa-plus"></i>
    </button>
    <a class="tile-title full" ui-sref="player({'trackId': track.id})">
      <span>
        <div class="details">
          <i class="fa fa-square-o"></i>&nbsp;<small>{{track.album_name}}</small>
        </div>
        <div class="details">
          <i class="fa fa-music"></i>&nbsp;<small>{{track.name}}</small>
        </div>
        <div class="details">
          <i class="fa fa-clock-o"></i>&nbsp;<small>{{track.duration | trackTime}}</small>
        </div>
        <div class="details">
          <i class="fa fa-calendar-o"></i>&nbsp;<small>{{track.releasedate}}</small>
        </div>
      </span>
    </a>
  </div>
</div>
