$noBkgImage: 'background-image: none';

$sidebarBkg: white;

$navHoverBkg: #e0e0e0;

$toolbarBkg: #9b59b6;
$toolbarColor: #ecf0f1;

$btnPrimary: #3498db;

$progressBar: #c0392b;
$progressBkg: #e74c3c;
