@import '_photon-vars';

.toolbar, .search {
  box-shadow: none;
  color: $toolbarColor;
  background-image: none;
  background-color: $toolbarBkg;
}

.btn {
  border-radius: 0;
  background-image: none;
  box-shadow: 0 5px 10px grey;
}

.btn-primary {
  background-image: none;
  background-color: $btnPrimary;

  &:active {
    background-image: none;
    background-color: darken($btnPrimary, 10%);
  }
}

.progress-range {
  height: 30px;
  width: 200px;
  background-color: $progressBkg;

  .progress-bar {
    background-color: $progressBar;
    height: 100%;
    width: 0%;
  }
}

// navs

.sidebar {
  background-color: $sidebarBkg;
}

.nav-group {
  .nav-group-title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
  }
  .nav-group-item {
    transition: all 250ms;
    font-weight: 500;
    font-size: 14px;
    padding-right: 0;
    padding-left: 14px;

    span.fa {
      margin-right: 16px;
    }

    &:hover {
      background-color: $navHoverBkg;
    }
  }
}
