/* Do not remove the comments below. It's the markers used by wiredep to inject
   sass dependencies when defined in the bower.json of your dependencies */
// bower:scss
// endbower

main {
  position: relative;
  display: flex;
  align-items: stretch;
  width: 100%;
}

.full-width {
  width: 100%;
}

.btn.add-to-playlist {
    position: absolute;
    left: 0;
    top: 0;
    width: 32px !important;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

/* Do not remove the comments below. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
