.tiles {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  
  &,* {
    box-sizing: border-box;
  }
  
  .tile {
    display: flex;
    position: relative;
    flex: 1 1 25%;
    justify-content: center;
    min-height: 65px;
    border: 3px solid white;
    
    text-decoration: none;
    
    background-color: #ccc;
    background-size: cover;
    background-position: center;
    
    .caption, .tile-title {
      color: white;
      display: flex;
      position: relative;
      background-color: rgba(0,0,0,0.5);
      text-align: center;
      text-decoration: none;
      font-size: 1.2em;
      padding: 3px;
      margin: 0;
      flex: 1;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      
      .details {
        display: flex;
        flex: 1 1 50%;
        flex-direction: column;
        color: white;
        text-decoration: none;
        
        align-items: center;
        justify-content: center;
      }
      div:not(.details) {
        width: 100%;
      }
      
      small {
        color: lightgrey;
        font-size: 0.7em;
      }
      
      &.row-wrap {
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
    
    &.album {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    
    &.full {
      flex-basis: 100%;
    }
    &.half {
      flex-basis: 50%;
    }
    
    &.tile-yellow {
      background-color: yellow;
    }
    &.tile-red {
      background-color: tomato;
    }
    &.tile-blue {
      background-color: #03A9F4;
    }
    &.tile-green {
      background-color: #388E3C;
    }
    
    @media (max-width: 768px) {
      & {
        flex-basis: 100%;
      }
    }
  }
}