.tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;

  position: absolute;
  height: 100%;

  .tile {
    display: flex;
    width: 25%;
    min-height: 15vw;

    flex-grow: 1;

    border: 1px solid white;

    background-color: yellow;
    background-size: cover;
    background-position: center;

    .tile-title {
      display: flex;
      margin: 0;
      height: 25%;
      width: 100%;

      align-self: flex-start;
      justify-content: center;

      text-align: center;
      background-color: rgba(0,0,0, 0.5);
      color: white;

      span {
        align-self: center;
        white-space: initial;
        small {
          font-size: 0.9rem;
          display: block;
          color: lightgrey;
        }
      }

      &.full {
        height: 100%;
      }
      &.center {
        align-self: center;
      }
      &.bottom {
        align-self: flex-end;
      }
    }

    &.half {
      width: 50%;
    }
    &.full {
      width: 100%;
    }
    &.tile-red {
      background-color: tomato;
    }

    @media (max-width: 768px) {
      width: 100%;
    }
  }
}
