<div class="audio-player">
  <button ng-click="playPause()" class="btn btn-primary">
    <i class="fa" ng-class="{'fa-play': $root.p.audio.paused, 'fa-pause': !$root.p.audio.paused}"></i>
  </button>
  <button ng-click="stop()" class="btn btn-primary">
    <i class="fa fa-stop"></i>
  </button>

  <button class="btn btn-primary" ng-show="$root.playlist.length" ng-click="$root.previousTrack()">
    <i class="fa fa-backward"></i>
  </button>
  <button class="btn btn-primary" ng-show="$root.playlist.length" ng-click="$root.nextTrack()">
    <i class="fa fa-forward"></i>
  </button>

  <div class="track-progress" ng-mousemove="changeProgress($event)">
    <div class="audio-progress"></div>
  </div>

  <span class="progress">
    <span>{{$root.p.currentTime | trackTime}}</span> <br>
    <span>{{$root.p.audio.duration | trackTime}}</span>
  </span>

  <div class="volume" ng-mousemove="changeVolume($event)">
    <div class="volume-bar"></div>
    <i class="fa fa-volume-up fa-5x"></i>
  </div>
</div>
