<div class="audio-player">
  <div class="controls">
    <button ng-click="playPause()" class="btn btn-primary">
      <i class="fa" ng-class="{'fa-play': isPaused(), 'fa-pause': !isPaused()}"></i>
    </button>
    <button ng-click="stop()" class="btn btn-primary">
      <i class="fa fa-stop"></i>
    </button>

    <button class="btn btn-primary" ng-show="$root.playlist.length" ng-click="$root.previousTrack()">
      <i class="fa fa-backward"></i>
    </button>
    <button class="btn btn-primary" ng-show="$root.playlist.length" ng-click="$root.nextTrack()">
      <i class="fa fa-forward"></i>
    </button>
  </div>

  <div class="ranges">
    <div
      class="range-volume"
      slider
      start="0"
      end="1"
      step="0.01"
      ng-model="volume"></div>

    <div
      class="range-progress"
      slider
      start="0"
      end="1"
      step="0.01"
      ng-model="progress"></div>

    <span class="progress" ng-show="duration > -1">
      <span>{{currentTime | trackTime}}</span> <br>
      <span>{{duration | trackTime}}</span>
    </span>
  </div>

</div>
