<div class="tiles">
  <div loader loading="album.artistLoading"></div>
  <div
    class="tile tile-blue"
    style="background-image: url('{{album.info.image}}');">
    <h2 class="tile-title full">
      <span>
        {{album.info.name}}
        <div class="details" ng-click="album.loadPlaylist()">
          <i class="fa fa-list"></i> <small>Load album</small>
        </div>
      </span>
    </h2>
  </div>
  <div
    class="tile tile-red relative"
    ng-repeat="(i,track) in album.tracks"
    style="background-color: {{album.colors[i % album.colors.length]}};">
    <button class="btn btn-default add-to-playlist" ng-click="$root.addToPlaylist(track)">
      <i class="fa fa-plus"></i>
    </button>
    <a class="tile-title full" ui-sref="player({'trackId': track.id})">
      <span>
        <div class="details">
          <i class="fa fa-music"></i>&nbsp;<small>{{track.name}}</small>
        </div>
        <div class="details">
          <i class="fa fa-clock-o"></i>&nbsp;<small>{{track.duration | trackTime}}</small>
        </div>
      </span>
    </a>
  </div>
</div>
